<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class="pfpdf-cover">
      <img data-pfpdf-slot="logo" class="pfpdf-cover-logo">
      <p data-pfpdf-slot="confidential" class="pfpdf-cover-confidential"></p>
      <p data-pfpdf-slot="series" class="pfpdf-cover-series"></p>
      <h1 data-pfpdf-slot="title" class="pfpdf-cover-title"></h1>
      <p data-pfpdf-slot="author" class="pfpdf-cover-author"></p>
      <p data-pfpdf-slot="date" class="pfpdf-cover-date"></p>
    </header>
    <div data-pfpdf-slot="toc" class="pfpdf-toc-container"></div>
    <main data-pfpdf-slot="content" class="pfpdf-content"></main>
  </body>
</html>
